<%- include('../partials/header') %>
    
<div class="row g-5">
  <div class="col-md-6">
    <h2>Diff Table</h2>
    
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <% tableHeaders.map(hItem => { %>
            <th scope="col"><%= hItem %></th>
          <% }) %>
        </tr>
      </thead>
      <tbody>
        <% tableData.map(dItem => { %>
          <tr>
            <% tableHeaders.map(hItem => { %>
              <td class="<%= dItem[hItem].class %>">
                <%= dItem[hItem].value %>
              </td>
            <% }) %>
          </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</div>

<%- include('../partials/footer') %>
